body{
  box-sizing: border-box;
}

.container {
  background-color: black;
  width: 400px;
  height: 400px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;

}

.btn {
  color: white;
  border-radius: 4px;
  border: none ;
  background-color: grey;
  padding: 10px;
  margin-top: 150px;
  margin-right: 5px;
  display: inline-block;
  font-weight: 600;
}