* {
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 45px;
    /* font-weight: 700; */
    letter-spacing: -2px;
}

.heading {
    text-align: center;
    padding: 10px;
}

.head-bold {
    font-style: oblique;
}


a {
    text-decoration: none;
    margin: 0;
}

a:hover{
    color: green;
}

ul {
    margin: 0;
}

.sexy-list {
    padding: 0px 0px 0px 0px;
    margin: 0;
    font-size: larger;
}

.btn {
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
    color: white;
    letter-spacing: -1.5px;
    background-color: blue;
}

li {
    list-style: none;
}

.sexy {
    text-align: center;
}


.rhea-imgs {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; 
    margin: 10px;

}

.riri-imgs {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */       /* Set a specific height for the div */

}


.about-section-rhea {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -2px;
}

.about-section-riri {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -2px;

}

h1 {
    letter-spacing: -2px;
}

img {
    border: 20px solid black;
    border-radius: 12px;
    height: 800px;
    margin: 10px;
}

.word-change {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}
