body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.font-big {
    font-size: 50px;
}

.font-bigger {
    font-size: 100px;
    font-style: italic;
}