/* GLOBAL DEFAULT */
body {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    line-height: 2;
    color: #000000;
}



h1, h2, h3 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    font-size: 55px;
    line-height: 0.5;
    font-weight: 650px;
    letter-spacing: 5px;   
}

p, a {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}
p {
    font-weight: 400px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    font-size: 16px;
    text-decoration: none;
}

.btn-primary:link, .btn-primary:visited {
    color: #ffffff;
    background-color: #412a1e;
}

.btn-primary:hover, .btn-secondary:active {
    color: #ffffff;
    background-color: #3e281d; 
}
.btn-secondary:link, .btn-secondary:visited {
    /* color: #ffffff;
    background-color: #58acf4;  */
    color: #000000;
}

.btn-secondary:hover, .btn-secondary:active {
    /* color: #ffffff;
    background-color: #105edd;  */
    color: #000000;
}

.highlight {
    color: #ffffff;;
}

.highlight-primary {
    background-color: #c8472c;
}

.highlight-secondary {
    background-color: #9775fa;
}

.highlight-tertiary {
    background-color: #ff922b;
}

.return-home:hover, .return-home:active {
    color: #339af0;
}

.nav-bar {
    text-align: center;
}
