/* GLOBAL DEFAULT */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
}

.container {
    width: 2200px;
    margin: 0 auto;
    
}

h1, h2, h3 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    font-size: 62px;
}

h2 {
    font-size: 48px;
}
h3 {
    font-size: 40px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}

ul {
    list-style: none;
}

/* HEAD/TITLESECTION */
.title-section {
    text-align: center;
}

/* NAV SECTION */
.nav-bar {
    text-align: center;
    margin-bottom: 150px;
}


/* BODY/HISTORY SECTION */

/* COMPONENTS */
.btn {
    padding: 5px;
    border-radius: 4px;
}

.btn-primary:link, .btn-primary:visited {
    color: #ffffff;
    background-color: black;
}

.btn-primary:hover, .btn-secondary:active {
    color: #ffffff;
    background-color: #c8472c; 
}

.btn-secondary:link, .btn-secondary:visited {
    color: #ffffff;
    background-color: #c8472c;
}

.btn-secondary:hover, .btn-secondary:active {
    color: #ffffff;
    background-color: #c8472c;
}

.highlight {
    color: #ffffff;;
}

.highlight-primary {
    background-color: #c8472c;
    padding: 8px;
    border-radius: 4px;
}

.return-home:hover, .return-home:active {
    color: #339af0;
}


