h1 {
    text-align: center;
    font-size: 55px;
    line-height: 0.5;
    font-weight: 500px;
    letter-spacing: -3px;
    
}
h2 {
    text-align: center;

}
p {
    font-weight: 400px;
    text-align: center;
}

a {
    text-decoration: none;
    text-align: center;
}

h3 {
    text-align: center;
}

ul {
    list-style: none;
}

form {
    text-align: center;
    line-height: 2.5;
    letter-spacing: -1px;
}