html {
    font-size: 62.5%;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

a {
    padding: 2rem;
    background-color: lightblue;
    display: inline-block;
}