.container-1{
    background-color: blue;
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.container-2 {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

ol {
    list-style: square;
}

ul {
    list-style: none;
    display: flex;
    background-color: blueviolet;
    padding: 50px; 
    border: 10px solid black;
    border-radius: 25px;
}
