.not-toggled {
  color: white;
  background-color: black;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.is-toggled {
   color: white;
   background-color: grey;
   border: none;
   padding: 10px;
   border-radius: 6px;
   cursor: pointer;
}

