.btn-filled {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 20px 40px;
    border: 10px solid blue;
}

.btn-outline {
    text-decoration: none;
    background-color: white;
    color: blue;
    padding: 20px 40px;
    border: 10px solid blue;
}