* {
    margin: 0;
    padding: 0;
}

.grid-container {
    font-size: 40px;
    display: grid;
    background-color: green;
}

.grid-item-1 {
    background-color: blue;
}

.grid-item-2 {
    background-color: red;
}

.grid-item-3 {
    background-color: green;
}

.grid-item-4 {
    background-color: orange;
}

.grid-item-5 {
    background-color: purple;
}

.grid-item-6 {
    background-color: pink;
}

.grid-item-7 {
    background-color: aliceblue;
}

.grid-item-8 {
    background-color: black;
}